*,
*::before,
*::after {
    font-family: 'Bulletproof BB', Times, serif;
    font-weight: normal;
}


body {
    padding: 0%;
    margin: 0%;
    /*background-image: url("doodle.jpg");*/
    background: linear-gradient(to right, #00AAFF, #930000);
}